<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Seja sem vindo(a), <%= @user['name'] %>!
    </h1>
    <p>
      Seu usuário foi criado com sucesso!
    </p>
  </body>
</html>